# Get the predictions
Website: https://projects.fivethirtyeight.com/soccer-predictions/  
Data source (git): https://github.com/fivethirtyeight/data/tree/master/soccer-spi/

Gets predictions of all leagues (my selection) for the matches of today and the next 30 days.

Stores them in `./data/This_months_predictions.csv`.

In [1]:
import pandas as pd
from datetime import date, timedelta

# show all columns in this notebook
pd.options.display.max_columns = 0

In [2]:
# read their entire CSV
df = pd.read_csv('https://projects.fivethirtyeight.com/soccer-api/club/spi_matches.csv', parse_dates=[0])

# show
print(df.shape)
df.head()

(20923, 22)

        date  league_id    ...     adj_score1 adj_score2
0 2016-08-12       1843    ...           0.00       1.05
1 2016-08-12       1843    ...           2.10       2.10
2 2016-08-13       2411    ...           2.10       1.05
3 2016-08-13       2411    ...           0.00       1.05
4 2016-08-13       2411    ...           1.05       1.05

[5 rows x 22 columns]

In [3]:
# use only some leagues
leagues = pd.DataFrame({'league_id': [1849, 1843, 1845, 1854, 1869, 2411]})

# get the actual league names from the data
leagues = leagues.merge(df[['league_id', 'league']], on='league_id', how='left').drop_duplicates().reset_index(drop=True)

# show what we'll use
#display(leagues)

# so filter only these leagues
df = df[df.league_id.isin(leagues.league_id)]
print(df.shape)

(6090, 22)

In [4]:
# filter matches from today up to 21 days from now
today = date.today()
delta = timedelta(21)
print(today, 'to', today+delta)
df = df[(df.date.dt.date >= today) & (df.date.dt.date <= today+delta)]
print(df.shape)

2018-12-09 to 2018-12-30
(186, 22)

In [5]:
# transform text fields to lowercase
df.league = df.league.str.lower()
df.team1 = df.team1.str.lower()
df.team2 = df.team2.str.lower()

# and remove accents
# https://stackoverflow.com/questions/37926248/how-to-remove-accents-from-values-in-columns
df.team1 = df.team1.str.normalize('NFKD').str.encode(encoding='ascii',errors='ignore').str.decode('utf-8')
df.team2 = df.team2.str.normalize('NFKD').str.encode(encoding='ascii',errors='ignore').str.decode('utf-8')

#
print(df.shape)

(186, 22)

In [6]:
# drop columns I dont need
df = df[['date', 'league', 'team1', 'team2', 'prob1', 'prob2', 'probtie']]

# and rename those I do need
df.rename(columns={'team1': 'home_team',
                   'team2': 'away_team',
                   'prob1': 'prob_home_win', 
                   'prob2': 'prob_away_win',
                   'probtie': 'prob_tie'}, inplace=True)

print(df.shape)

(186, 7)

In [7]:
# sort by league_id and date
df = df.sort_values(by=['league', 'date'])

# show
print(df.shape)
df.head()

(186, 7)

            date                   league   ...    prob_away_win prob_tie
16498 2018-12-09  barclays premier league   ...           0.2800   0.2971
16532 2018-12-10  barclays premier league   ...           0.2740   0.2783
16623 2018-12-15  barclays premier league   ...           0.0249   0.0965
16646 2018-12-15  barclays premier league   ...           0.2788   0.3203
16647 2018-12-15  barclays premier league   ...           0.2146   0.2659

[5 rows x 7 columns]

In [8]:
# save to CSV
df.to_csv('./data/This_months_predictions.csv', index=False)